@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
/* font-family: 'Montserrat', sans-serif; */
body {
    color: #555555;
    font-family: "Arial","Helvetica","sans-serif";
}
.inline-block{
    display: inline-block;
}
#map{
    margin: auto;
    height: 400px;
    width: 60%;
}
.contact-main-inner-wrapper {
    padding: 25px 0;
    font-family: "Montserrat Light";
}

.form-inner-wrapper .field-error, .field-error{
    color: #fff;
    background: #cc3b3b url(//static.squarespace.com/universal/images-v6/standard/icon_close_7_light.png) no-repeat 9px 50%;
    padding: 5px 15px 3px 25px;
    font-size: 13px;
    border-radius: 2px;
    margin: 12px 0;
    line-height: 23px;
    display: inline-block;
    font-family: Arial
}
.has-error-validation, .form-inner-wrapper.clearfix .has-error-validation{
    color: #bd0000 !important;
}
.no-padding-right{
    padding-right: 0px;
}
.no-padding-left{
    padding-left: 0px;
}
.no-padding{
    padding: 0;
}
.form-inner-wrapper input {
    padding: 12px 13px;
    font-family: sans-serif;
}
.input-field-inner-wrapper {
    margin-bottom: 25px;
}
.input-field-inner-wrapper label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;

}
.input-field-inner-wrapper input {
    border: 1px solid #CCCCCC;
    background-color: #FAFAFA;
    border-radius: 3px;

}
.input-field-inner-wrapper input:focus{
    background-color: #ffffff;
    outline: 0;
}
.message-area:focus {
    background-color: #ffffff;
    outline: 0;
}
.first-name-custom {
    padding-right: 2px;
}
.first-name-custom input, .table-full-width, .last-name-custom input {
    width: 100%;
}
.first-name-custom label{
    text-transform: none;
    letter-spacing: .02em;
    font-weight: normal;
    font-style: normal;
    color: #555;
}
.last-name-custom {
    padding-left: 2px;
}
.form-inner-wrapper p {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.form-inner-wrapper input::-moz-placeholder {

}
.form-inner-wrapper input::-webkit-input-placeholder {

}
.email-custom {
    width: 100%;
}
.phone-country {
    display: inline-block;
    max-width: 100%;
    margin-right: 11.3594px;
}
.phone-country input {
    display: inline-block;
    position: relative;
    top: -64px;
    width: 100%;
}
.phone-country label {
    display: inline-block;
    width: 54px;
    position: relative;
    top: 44px;
}
.phone-operator {
    display: inline-block;
    max-width: 100%;
    margin-right: 11.3594px;
}
.phone-operator input {
    display: inline-block;
    position: relative;
    top: -64px;
    width: 100%;
}
.phone-operator label {
    display: inline-block;
    width: 62px;
    position: relative;
    top: 44px;
}
.phone-first-three {
    display: inline-block;
    max-width: 100%;
    margin-right: 11.3594px;
}
.phone-first-three input {
    display: inline-block;
    position: relative;
    top: -64px;
    width: 100%;
}
.phone-first-three label {
    display: inline-block;
    width: 62px;
    position: relative;
    top: 44px;
}
.phone-last-four {
    display: inline-block;
    max-width: 100%;
}
.phone-last-four input {
    display: inline-block;
    position: relative;
    top: -64px;
    width: 100%;
}
.phone-last-four label {
    display: inline-block;
    width: 73px;
    position: relative;
    top: 44px;
}
.subject {
    width: 100%;
}
.message-area {
    width: 100%;
    height: 137px;
    padding: 13px 13px;
    font-family: sans-serif;
    font-size: 14px;
    border-radius: 4px;
    resize: none;
    border: 1px solid #CCCCCC;
    background-color: #FAFAFA;
}
.message-area:focus {
    background-color: #ffffff;
    outline: 0;
}
.submit-button-wrapper input[type = "submit"], .sign-up-inner-wrapper input[type="submit"], .input-button button, button.btn-primary {
    width: 150px;
    height: 50px;
    border: 2px solid #272727;
    background-color: white;
    text-transform: uppercase;
    color: #272727;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 1.2px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.submit-button-wrapper input:hover, .product-added-options-inner-wrapper input:hover, .sign-up-inner-wrapper input[type="submit"]:hover, button.btn-primary:hover {
    color: #fff;
    background-color: #272727;
    transition: background-color .2s ease-in-out;
}
button:focus {outline:0;}

.about-us-main-wrapper {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    padding-top: 20px;
    padding-right: 45px;
    font-family: "Arial","Helvetica","sans-serif";
    letter-spacing: 0.28px;
    line-height: 26.6px;
}
.about-us-main-wrapper p {
    margin: 0 0 14px 0;
}
.about-us-main-inner-wrapper {
    position: relative;
}

.product-added-to-card-main-wrapper{
    display: none;
    width: 100%;
    border: 2px solid #272727;
    padding: 30px 15px;
    margin: auto;
}
.product-added-heading-wrapper {
    text-align: center;
    color: #272727;
    font-family: sans-serif;
    padding: 45px 0;
}
.product-added-options-inner-wrapper button {
    background-color: white;
    border: 1px solid #272727;
    color: #272727;
    padding: 18px 0px;
    font-family: sans-serif;
    font-size: 20px;
    max-width: 292px;
    width: 100%;
    text-align: center;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.about-us-info {
    margin: 0 0 40px 0;
}
.has-error-border{
    border: 1px solid #e99292 !important;
}
.featherlight .featherlight-content {
    width: 40%;
    position: relative;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    overflow: auto;
    padding: 25px 25px 0;
    border-bottom: 25px solid transparent;
    /* margin-left: 5%; */
    /* margin-right: 5%; */
    max-height: 95%;
    background: #fff;
    cursor: auto;
    white-space: normal;
}

/* --------------------INDEX PAGE---------------------  */

.page-main-wrapper {
    margin: 21px;
}

.first-row-left-col, .first-row-right-col-top, .first-row-right-col-bot, .second-row-right-col, .second-row-left-col-top, .second-row-left-col-bot {
	position: relative; background-size: cover;
}

.first-row-left-col, .second-row-right-col { 	width:65%; height: 60vw; margin-bottom: 2vw; }

.first-row-right-col-top, .first-row-right-col-bot, .second-row-left-col-top, .second-row-left-col-bot { 	width:33%; height: 29vw; }

.first-row-left-col			{ float: left; background: #ccc url('../images/site-images/fp-fr-left.jpg') center center; background-size: cover;  }
.first-row-right-col-top	{ float: right; background: #ccc url('../images/site-images/fp-fr-right-top.jpg') center center; background-size: cover; margin-bottom: 2vw; }
.first-row-right-col-bot	{ float: right; background: #ccc url('../images/site-images/fp-fr-right-bottom.jpg') center center; background-size: cover; margin-bottom: 2vw; }
.second-row-right-col		{ float: right; background: #ccc url('../images/site-images/fp-fr-left.jpg') center center; background-size: cover; }
.second-row-left-col-top	{ float: left; background: #ccc url('../images/site-images/fp-fr-right-top.jpg') center center; background-size: cover; margin-bottom: 2vw; }
.second-row-left-col-bot	{ float: left; background: #ccc url('../images/site-images/fp-fr-right-bottom.jpg') center center; background-size: cover; margin-bottom: 2vw; }


.disabled-on-check {

}
.img-description {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: absolute;
    z-index: 99;
    bottom: 1px;
    margin: 0 0 4% 0;
    right: 0;
    left: 0;
}
.img-description h2 {
    font-size: 41px;
    letter-spacing: 3.28px;
    margin-bottom: 21px;
}
.img-description a, .img-description p {
    color: #ededed;
    font-size: 18px;
    letter-spacing: 1.98px;
    text-transform: uppercase;
    -webkit-transition: color .15s ease-out;
    -moz-transition: color .15s ease-out;
    -ms-transition: color .15s ease-out;
    -o-transition: color .15s ease-out;
    transition: color .15s ease-out;
}
.img-description a h2 {
    font-size: 41px;
    letter-spacing: 3.28px;
    margin-bottom: 21px;
    text-transform: none;
}
.img-description a:link {
    text-decoration: none!important;
    outline: 0;

}
.img-description a:visited {
    text-decoration: none!important;
    outline: 0;

}
.img-description a:hover {
    text-decoration: none!important;
    color: rgba(237,237,237,.5);
}
.img-description a:active {
    text-decoration: none!important;
}


.sign-up-inner-wrapper input[type="text"] {
    width: 21%;
    padding: 13px;
    background: #fff;
    border: 1px solid rgba(0,0,0,.12);
    font-family: inherit;
    font-size: 15px;
    line-height: normal;
    outline: none;
    margin-right: 10px;
    -webkit-transition: background .3s ease-out,border .3s ease-out;
    -moz-transition: background .3s ease-out,border .3s ease-out;
    -ms-transition: background .3s ease-out,border .3s ease-out;
    -o-transition: background .3s ease-out,border .3s ease-out;
    transition: background .3s ease-out,border .3s ease-out;
}
.sign-up-inner-wrapper input {
    display: inline-block;
}
.mailing-list-wrapper {
    text-align: center;
    padding: 0 0 25px 0;
}
.mailing-list-wrapper h2{
    color: white;
    font-size: 30px;
    font-family: "Arial","Helvetica","sans-serif";
}
.sign-up-inner-wrapper {
    text-align: center;
}
.sign-up-inner-wrapper input[type="submit"] {
    background-color: transparent;
    font-size: 15px;
    font-weight: normal;
}
.sign-up-inner-wrapper .form-inner-wrapper input::-moz-placeholder {
    font-family: "Arial","Helvetica","sans-serif";
    color: #cccccc;
    font-size: 15px
}
.form-inner-wrapper input::-webkit-input-placeholder {
    font-family: "Arial","Helvetica","sans-serif";
    color: #cccccc;
    font-size: 15px

}
.social-icons-wrapper {
    text-align: center;
    padding: 51px 0 58px 0;
}
.terms-wrapper p {
    text-align: center;
    color: black;
    font-family: "Arial","Helvetica","sans-serif";
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.social-icons-wrapper span {
    display: inline-block;
    margin: 0 15px 0 0;
}
.social-icons-wrapper i {
    font-size: 22px;
    color: black;
}
.terms-wrapper {
    padding: 0 0 7px 0;
}

/** ----------------------- header.php ----------------------------- **/
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #555;
    font-size: 14px;
}
.mini-cart {
    float:right;
    position: relative;
    width: 50px;
    height: 55px;
}
.mini-cart-img {
    position: absolute;
}
.mini-cart-img img {
    width: 50px;
}
.mini-cart-counter {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align:center;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
    font-weight: 100;
    padding: 0 0 0 3px;
}
.number-holder {
    transform: rotateZ(-4.3deg);
    text-align: center;
}
#cart-listings {
    max-width: 1400px;

    margin: 0 auto;
}
.padding140 {
    padding-top: 140px;
}
#cart-listings table {
    width: 100%;
}
#cart-listings table th, #cart-listings table td {
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}
#cart-listings table a {
    text-decoration: none;
    color: #555;
    font-size: 14px;
    font-family: "Arial","Helvetica","sans-serif";
    letter-spacing: 0.28px;
}
#cart-listings table .cart-item {
    font-size: 17px;
    padding-left: 15px;
}
#cart-listings table .cart-img {
    text-align: left;
}
#cart-listings table .cart-img, #cart-listings table .cart-remove {
    width: 100px;
}
#cart-listings table .cart-qty-price, #cart-listings table .cart-remove {
    width: 100px;
    text-align: right;
}
#cart-listings table .cart-qty-price{
    width: 150px;
}
.delete-product-cart{
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    font-size: 1.2em;
    opacity: 0.5;
}
.delete-product-cart:hover{
    -webkit-transition: all 0.4s ;
    -moz-transition:  all 0.4s  ;
    -ms-transition:  all 0.4s  ;
    -o-transition:  all 0.4s  ;
    transition:  all 0.4s  ;
    opacity: 1;
}

#checkout {
    max-width: 1200px;
    margin: 0 auto; }
.checkout-line {
    margin: 15px 5px 35px 0px;
}
.checkout-button {
    clear:both;
    float: right;
    border-radius: 0;
    color: #272727;
    border: 2px solid #272727;
    padding: 1em 2.5em;
    letter-spacing: 1px;
    font-weight: bold;
    background-color: white;
}
.checkout-button:hover {
    color: #fff;
    background-color: #272727;
    transition: background-color .2s ease-in-out;
}
.customer-info-wrapper {
    float: left;
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1% 3%;
}
.order-summary-wrapper {
    float: right;
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1% 3%;
}
.form-field {
    border-radius: 3px;
    border: 1px solid #ccc;
    margin: 10px 0px;
}
.form-field-holder-half-width-left, .form-field-holder-half-width-right {
    width: 49%
}
.form-field-holder-half-width-left {
    float: left;
}
.form-field-holder-half-width-right {
    float: right;
}
.form-field .text-input {
    margin: 15px 9px 14px 9px;
    border: none;
    width: calc(100% - 30px);
}
.form-field select {
    color: #555;
}
.form-field .checkbox {
    margin: 15px 9px 14px 9px;
}


.clearing, .form-field-holder-full-width {
    clear:both;
}

#header-wrapper {
    background: #fff;
}
#header {
    max-width: 100%;
    margin: 0 auto;
    height: 85px;
}
#header-content {
    padding: 21px;
}

#change_lng {
    float: left;
}
#nav {
    font-family: "Arial","Helvetica","sans-serif";
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .07em;
    margin: 20px auto;
    width: 500px;
    text-align:center;
}
#nav ul {
    list-style-type: none;
    padding: 10px 0;
}
#nav ul li{
    display: inline-block;
    padding: 0.6em;
}
#nav ul li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.4);
}
#nav ul li a:hover {
    color: #d39850;
}
#navmob {
    font-family: "Arial","Helvetica","sans-serif";
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: .07em;
    margin: 20px auto;
    width: 100%;
    height: 110vh;
    text-align: center;
    overflow-y: scroll;
    background-color: white;
    -webkit-overflow-scrolling: touch;
}
#navmob ul {
    list-style-type: none;
    padding: 10px 0;
}
#navmob ul li{
    display: block;
    padding: 0.6em;
}
#navmob ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
}
#navmob ul li a:hover {
    color: #d39850;
}
#logo-line {
    position: relative;
}
#logo-holder {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
}
#contents-wrapper {
    background: #fff;
}
#contents-holder {
    position: relative;
    width: 100%
}

#product-listings {
    position: relative;
    margin: 5% 9%;
    max-width: 1400px;
}

#product-listings a{
    color: #111;
    text-decoration: none;
}
#product-listings .breadcrumbs-wrapper a {
    color: #3d3d3d;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}
.product-main-wrapper {
    padding-top: 50px;
}
.shop-products-main-wrapper {
    padding: 80px 0 40px;
}
.product-cell {
    position: relative;
    border: 1px solid #000;
    text-align: center;
    margin: 5px;
}
.product-cell:hover .product-img, .product-cell.hover .product-img {
    opacity: 0.5;transition
: opacity .2s ease-in-out;
}
.product-cell .product-img {
    opacity: 1;
    transition: opacity .2s ease-in-out;
}
.product-cell:hover .product-title, .product-cell.hover .product-title {
    opacity: 1;
    transition: opacity .2s ease-in-out;
}
.product-cell .product-title {
    opacity: 0;
    transition: opacity .2s ease-in-out;
}
.product-title {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align:center;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15%
    0 0 -25%;
}
.product-title-text {
    color: #111;
    text-decoration: none;
}
.product {
    position: absolute;
    width: 100%;
    height: 100%;
}
.single-product-main-wrapper {
    border: 1px solid #000;
}
.product-img {
    position: relative;
    width: 100%;
}
.product-img img{
    width: 100%;
}
.product-title-text {
    color: #878787;
    font-size: 21px;
    font-family: "Arial","Helvetica","sans-serif";
    letter-spacing: 2px;
    font-weight: normal;
}
.product-price {
    color: #6e6e6e;
    font-size: 15px;
    font-family: "Arial","Helvetica","sans-serif";
    letter-spacing: 0.75px;
    font-weight: normal;
}
#footer-wrapper {
    color: #555;
    background-color: #d4d4d4;
}
/*.select-box number{*/

/*padding: 5px 8px;*/
/*border: none;*/
/*box-shadow: none;*/
/*background: transparent;*/
/*background-image: none;*/
/*}*/
#logo-holder img {
    margin: 0 auto;
    max-width: 212px;
    max-height: 77px;
}
#header-wrapper+img {
    max-width: 212px;
    max-height: 77px;
    position: relative;
    left: 41%;
    margin: 29px 0 38px 0;
}
#map {
    margin: 10px auto 0;
    height: 340px;
    width: 87%;
}

/* ------- checkout.php style edit ---------- */
.margin15 {
    margin: 15px;
}
.img.width100 {
    width: 100px;
}
.inputwidth35 {
    width: 35px;
}
/* -----------  product.php style edit ------------- */
.padding10pc {
    padding-left: 10%;
}
.product-custom-floating-width {
    float: left;
    width:49%
}
img.product-img-custom {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}
.makes-float-rigt-witdh-custom {
    float: right;
    width: 49%;
    padding-top: 80px;
}
.cart-custom-img {
    width: 35px;
    text-indent: 10px;
}
.breadcrumbs-wrapper {
    padding-top: 90px;
}
.breadcrumbs-wrapper > div {
    padding-bottom: 40px;
}
/* ----------------------product.php styling ---------------------- */
.input-button button {
    background-color: #878787;
    border: none;
    color: white;
    max-width: 144px;
    width: 100%;
    height: 40px;
    padding: 0px 8px;
    font-size: 12px;
    transition: background-color 0.4s;
}
.input-button button:hover {
    background-color: #9F9F9F ;
}
.padding10pc h1 {
    color: #878787;
    font-family: "Arial","Helvetica","sans-serif";
    font-size: 24px;
    font-weight: normal;
    margin: 0;
}
.prew-next-wrapper {
    text-align: right;
}
.select-box input[type="number"] {
    border: 2px solid rgb(135, 135, 135);
    font-size: 12px;
    color: black;
    font-family: "Arial","Helvetica","sans-serif";
    font-weight: bold;
    padding: 9px 15px;
}
.padding10pc p {
    font-family: 'Montserrat', sans-serif;
    color: #555;
    font-size: 16px;
    line-height: 25.6px;
}
p.single-product-price {
    color: #d39850;
    font-family: "Arial","Helvetica","sans-serif";
    font-size: 19px;
    letter-spacing: 0.95px;
    padding: 30px 0 0 0;
}
.select-box {
    padding: 30px 0;
}
.input-button {
    padding: 0 0 30px 0;
}
.product-page-social-icons-wrapper span {
    display: inline-block;
    font-size: 16px;
    color: #AAAAAA;
    padding: 0px 19px 0 0;
}
.product-page-social-icons-wrapper {
    padding: 25px 0px 0 0;
}
/* ----------- cart.php ----------- */
.cart-main-wrapper .product-info-wrapper.clearfix {
    border-bottom: 1px solid #cccccc;
}
.cart-heading-wrapper h1 {
    color: #464444;
    font-weight: 500;
    line-height: 1.1;
    font-family: "Arial","Helvetica","sans-serif";
    font-size: 39px;
}
.cart-listings-main-wrapper, .cart-listings-main-wrapper a {
    font-family: "Arial","Helvetica","sans-serif";
}

.cart-main-wrapper .single-product-info-wrapper .cart-qty-price input {
    max-width: 66px;
    width: 100%;
    text-align: right;
    padding: 5px 5px;
    border-radius: 7px;
    border: 1px solid #ccc;
    outline: none;
}
.cart-main-wrapper .single-product-info-wrapper .cart-qty-price input:focus {
    border: 1px solid black;
}
p#product-3-price {
    padding-top: 10px;
}
/* ----------------------- Checkout --------------------- */
.checkout-heading-wrapper h1 {
    font-weight: bold;
}
.shipping-billing-heading-wrapper h2, .order-summary-heading-wrapper h2 {
    font-family: "Montserrat Light";
}
.customer-info-form-wrapper input.text-input {
    margin: 0;
    padding: 10px 12px;
    font-size: 14px;
    width: 100%;
    font-family: "Arial","Helvetica","sans-serif";
}
.customer-info-form-wrapper span {
    padding: 0px 0 0 8px;
    font-family: "Arial","Helvetica","sans-serif";
    color: #A9B1C6;
}
.product-img-name-wrapper img {
    max-width: 100%;
}
.product-img-name-wrapper .cart-item, .cart-qty-price, .delete-product-cart  {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-main-wrapper {
    padding-top: 150px;
}
.product-info-wrapper .cart-img p {
    text-align: center;
}
.product-info-wrapper .cart-qty-price p:first-of-type {
    text-align: center;
}
.product-info-wrapper .cart-qty-price p:last-of-type {
    text-align: center;
    padding-left: 19px;
}
.single-product-info-wrapper .cart-qty-price input {
    max-width: 45px;
    width: 100%;
    text-align: right;
    padding: 1px 5px;
}
.single-product-info-wrapper .cart-qty-price {
    text-align: center;
}
.single-product-info-wrapper .cart-remove {
    text-align: right;
}
.single-product-info-wrapper {
    padding: 5px;
    border-bottom: 1px solid #CCCCCC;
    position: relative;
}
.product-qnty-prc-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
}
.subtotal-section-wrapper {
    padding-top: 17px;
    padding-right: 5px;
}
.subtotal-section-wrapper::after {
    content: "";
    width: 590px;
    height: 1px;
    background-color: #CCCCCC;
    position: absolute;
    right: 0;
}
.subtotal-section-wrapper p, .cart-listings-main-wrapper a {
    text-align: right;
    font-size: 15px;
    font-weight: bold;
}

.cart-listings-main-wrapper a {
    text-align: left;
    font-weight: normal;
    color: #555;
}
.cart-listings-main-wrapper a:hover {
    text-decoration: none;
}
.single-product-info-wrapper .cart-remove a {
    font-weight: bold;
}
.display-on-off {
    display: none;
}
/*--------------- Breadcrumbs -----------------*/
.breadcrumbs-wrapper p {
    font-family: "Arial","Helvetica","sans-serif";
    font-size: 15px;
    font-weight: 600;
}
.cart-no-item-wrapper {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 36px;
    color: #555;
}
.cart-no-item-wrapper a {
    color: #555 !important;
}
.cart-no-item-wrapper a:hover {
    text-decoration: none !important;
    color: #555 !important;
}
.menu-button-wrapper {
    display: none;
    font-size: 50px;
    position: absolute;
    top: 0;
    right:0;
}
.menu-button-wrapper span i {
    z-index: 999999;
    position: relative;
}
.nav-menu-main-mobile {
    display: none;
    width: 150px;
    height: 190px;
    background-color: gray;
    position: fixed;
    z-index: 9999;
    top: -24px;
    right: 0px;
}
.single-product-info-wrapper div {
    min-height: 100%;
    height: 1px;
}
.single-product-info-wrapper {
    height: 170px;
}
/*--------------- Review and pay ----------------------- */


/*--------------- RESPONSIVE ----------------------- */
/* //max-width: 1670px */
@media all and (max-width: 1670px) {

    .first-six-column-img-wrapper img, .second-six-column-img-wrapper img {
        height: 981px;
    }
} /* //max-width: 1670px */
/* //max-width: 1450px */
@media all and (max-width: 1450px) {

    .first-six-column-img-wrapper img, .second-six-column-img-wrapper img {
        height: 847px;
    }
} /* //max-width: 1450px */
@media all and (max-width: 1370px) {

    .first-six-column-img-wrapper img, .second-six-column-img-wrapper img {
        height: 801px;
    }
} /* //max-width: 1366px */
@media all and (max-width: 1290px) {

    .first-six-column-img-wrapper img, .second-six-column-img-wrapper img {
        height: 749px;
    }
} /* //max-width: 1290px */
@media all and (max-width: 1030px) {

    .first-six-column-img-wrapper img, .second-six-column-img-wrapper img {
        height: 593px;
    }
    .product-added-options-inner-wrapper button {
        height: 112px;
        height: 72px;
        margin: 5px;
    }
    .single-product-info-wrapper {
        height: 160px;
    }

}/* //max-width: 1030px */
@media all and (max-width: 970px) {
    .eight-rowed-img-inner-wrapper img {
        height: 744px;
    }
    .top-img-inner-wrapper img, .bottom-img-inner-wrapper img {
        height: 361px;
    }
    .first-six-column-img-wrapper img, .second-six-column-img-wrapper img {
        height: 554px;
    }
    .eight-rowed-img-inner-wrapper {
        padding-right: 15px;
    }
    #logo-line {
        height: 372px !important;
    }
    .padding140 {
        padding-top: 0px;
    }
    #map {
        height: 265px;
    }
    .shop-products-main-wrapper {
        padding: 40px 0 40px;
    }
    #contents-wrapper {
        padding-top: 0px;
    }
    .product-added-options-inner-wrapper button {
        height: 112px;
        height: 72px;
        margin: 5px;
    }
    .no-padding-left {
        padding: 0px;
    }
    .first-name-custom {
        padding-right: 0;
    }
    .about-us-main-wrapper {
        padding-right: 0;
    }
    .product-added-options-inner-wrapper button {
        height: 72px;
        margin: 5px;
    }
    .customer-info-wrapper {
        width: 100%;
    }
    .order-summary-wrapper {
        width: 100%;
        margin-top: 10px;
    }
    .first-section-img-wrapper > div:nth-child(1), .second-section-img-wrapper > div:nth-child(2) {
        width: 66.66%;
        float: left;
    }
    .first-section-img-wrapper > div:nth-child(2), .second-section-img-wrapper > div:nth-child(1) {
        width: 33.33%;
        float: left;
    }
    .breadcrumbs-wrapper {
        padding-top: 0px;
        margin-top: -100px;
    }
    .breadcrumbs-wrapper > div {
        padding-bottom: 0px;
    }
    .qty-small {
        padding-left: 39px;
    }
    .checkout-quantity {
        padding-left: 35px;
    }
    .single-product-info-wrapper {
        height: 145px;
    }
    .subtotal-section-wrapper::after {
        width: 480px;
    }
    .cart-main-wrapper {
        padding-top: 0;
        margin-top: -190px;
    }
}/* //max-width: 970px */
@media all and (max-width: 810px) {
    .eight-rowed-img-inner-wrapper img {
        height: 750px;
    }
    .top-img-inner-wrapper img, .bottom-img-inner-wrapper img {
        height: 364px;
    }
    .first-six-column-img-wrapper img, .second-six-column-img-wrapper img {
        height: 456px;
    }
    #logo-holder img {
        margin: 30px auto;
    }
    .single-product-info-wrapper {
        height: 110px;
    }
    .subtotal-section-wrapper::after {
        width: 380px;
    }
    .cart-main-wrapper {
        padding-top: 0;
        margin-top: -180px;
    }
}/* //max-width: 810px */
@media all and (max-width: 770px) {
    .eight-rowed-img-inner-wrapper img {
        height: 719px;
    }
    .top-img-inner-wrapper img, .bottom-img-inner-wrapper img {
        height: 289px;
    }
    .first-six-column-img-wrapper img, .second-six-column-img-wrapper img {
        height: 437px;
    }

    .img-description h2 {
        font-size: 34px;
    }
    .img-description a h2 {
        font-size: 34px;
    }
    #header_content {
        padding: 0 25px;
    }
    .form-inner-wrapper p {
    }
    .input-field-inner-wrapper {
        padding: 0 15px;
    }
    .submit-button-wrapper {
        padding-left: 15px;
    }
    .no-padding-right {
        padding: 0px;
    }
    .checkout-main-wrapper {
        padding: 0 18px;
    }
    .breadcrumbs-wrapper {
        padding-top: 0px;
        margin-top: -190px;
    }
    .mini-cart {
        position: fixed;
        bottom: 0;
        z-index: 9999;
        float: none;
        width: 100%;
        background-color: black;
        right: 0;
        left: 0;
    }
    .mini-cart-img {
        position: fixed;
        bottom: 0;
        left: 46%;
        z-index: 9999999;
    }
    .menu-button-wrapper {
        display:block;
        top: 1%;
        right: 3%;
    }
    #nav {
        display: none;
    }
    #change_lng {
        padding: 15px 0;
    }
    .footer-content-inner-wrapper {
        padding-bottom: 50px;
    }
    .single-product-info-wrapper {
        height: 105px;
    }
    .subtotal-section-wrapper::after {
        width: 365px;
    }
}/* //max-width: 770px */
@media all and (max-width: 740px) {
    .eight-rowed-img-inner-wrapper img {
        height: 600px;
    }
    .top-img-inner-wrapper img, .bottom-img-inner-wrapper img {
        height: 289px;
    }
    .first-six-column-img-wrapper img, .second-six-column-img-wrapper img {
        height: 417px;
    }
    .third-section-img-inner-wrapper > div {
        width: 50%;
        float: left;
    }
    .social-icons-wrapper {
        padding: 41px 0 48px 0;
    }
    #header-wrapper+img {
        left: 38% !important;
    }
    .cart-main-wrapper {
        padding: 0 15px;
        margin-top: 0px;
    }
    #logo-line {
        height: 150px !important;;
    }
    #logo-holder img {
        margin: 0px auto;
        max-width: 200px;
    }
    .padding10pc {
        padding-left: 0;
    }
    .product-page-social-icons-wrapper {
        text-align: center;
    }
    .product-page-social-icons-wrapper span {
        padding: 10px 9px 0 9px;
    }
    table.table-full-width {
        text-align: center;
    }
    tr th {
        text-align: center;
    }
    .qty-small {
        padding-left: 0px;
    }
    .product-qnty-prc-wrapper > div:nth-child(1) {
        width: 54%;
        float: left;
    }
    .product-qnty-prc-wrapper > div:nth-child(2) {
        width: 18%;
        float: left;
    }

    .single-product-info-wrapper {
        height: 100px;
    }
    .subtotal-section-wrapper::after {
        width: 360px;
    }

}/* //max-width: 740px */
@media all and (max-width: 670px) {
    .img-description a, .img-description p {
        font-size: 15px;
    }
    .product-added-options-inner-wrapper button {
        height: auto;
        margin: 5px;
    }
    #navmob {
        padding-top: 40px;
    }
    .single-product-info-wrapper {
        height: 92px;
    }
    .subtotal-section-wrapper::after {
        width: 350px;
    }

}/* //max-width: 670px */
@media all and (max-width: 650px) {
    .first-section-img-wrapper > div:nth-child(1), .second-section-img-wrapper > div:nth-child(2),
    .first-section-img-wrapper > div:nth-child(2), .second-section-img-wrapper > div:nth-child(1),
    .third-section-img-inner-wrapper > div {
        width: 100%;
        float: none;
    }
    .page-main-wrapper img {
        width: 100%;
        height: auto;
    }
    .eight-rowed-img-inner-wrapper {
        padding-right: 0px;
        padding-bottom: 10px;
    }
    .second-section-img-wrapper .eight-column-picture-main-wrapper .eight-rowed-img-inner-wrapper {
        padding-left: 0px;
        padding-top: 10px;
    }
    .third-section-img-inner-wrapper {
        padding-top: 10px;
    }
    .second-six-column-img-wrapper {
        padding-left: 0px;
        padding-top: 10px;
    }
    #logo-line {
        height: 256px!important;
    }
    .sign-up-inner-wrapper input[type="text"] {
        width: 80%;
        margin-right: 0px;
        margin-bottom: 10px;
    }
    .social-icons-wrapper {
        text-align: center;
        padding: 31px 0 28px 0;
    }
    #logo-holder img {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        position: absolute;
        margin: 20px auto;
        max-width: 170px;
    }
    #logo-line {
        height: 100px;
    }
    .product-qnty-prc-wrapper > div:nth-child(1) {
        width: 46%;
        padding-left: 50px;
    }
    .product-qnty-prc-wrapper > div:nth-child(2) {
        width: 34%;
    }

    .single-product-info-wrapper {
        height: 90px;
    }
    .subtotal-section-wrapper::after {
        width: 310px;
    }
}/* //max-width: 650px */
@media all and (max-width: 570px) {
    #header_content {
        padding: 0 35px;
    }
    .img-description h2 {
        font-size: 25px;
    }
    .img-description a, .img-description p {
        font-size: 13px;
    }
    .social-icons-wrapper {
        padding: 24px 0 24px 0;
    }
    .mailing-list-wrapper {
        padding: 0 0 10px 0;
    }
    #nav {
        width: 100%;
    }
    #logo-holder img {
        top: -100px;
        max-width: 126px;
    }
    .product-added-options-inner-wrapper button {
        font-size: 11px;
    }
    .featherlight .featherlight-content {
        width: 63%;
    }
    .cart-heading-wrapper h1 {
        font-size: 31px;
    }
    #logo-line {
        height: 190px!important;
    }
    .menu-button-wrapper {
        font-size: 40px;
    }
    #product-listings {
        margin: 30% 9% 5%;
    }
    .single-product-info-wrapper {
        height: 80px;
    }
    .subtotal-section-wrapper::after {
        width: 270px;
    }
    .cart-main-wrapper {
        margin-top: -70px;
    }

}/* //max-width: 570px */
@media all and (max-width: 420px) {
    #logo-line {
        height: 120px !important;
    }
    #logo-holder img {
        max-width: 110px;
    }
    #header_content {
        padding: 0px 0px;
    }
    #nav {
        max-width: 500px;
    }
    #header_content {
        padding: 0px 18px;
    }
    .menu-button-wrapper {
        font-size: 38px;
    }
    .product-qnty-prc-wrapper > div:nth-child(2) {
        width: 40%;
        padding-left: 33px;
    }
    .cart-qty-price {
        padding-right: 20px;
    }
    .checkout-price {
        padding-left: 18px;
    }
    .cart-heading-wrapper h1 {
        font-size: 25px;
    }
    p.single-product-price {
        padding: 10px 0 0 0;
    }
    .select-box {
        padding: 10px 0;
    }
    .cart-qty-price {
        padding-right: 0px;
    }
    .checkout-quantity {
        padding-left: 15px;
    }
    #map {
        height: 205px;
        margin: -70px auto 0;
    }
    #product-listings {
        margin: 39% 9% 5%;
    }
    .single-product-info-wrapper {
        height: 60px;
    }
    .subtotal-section-wrapper::after {
        width: 190px;
    }
    .cart-main-wrapper {
        margin-top: -110px;
    }

}/* //max-width: 420px */
@media all and (max-width: 380px) {
    #logo-holder img {
        max-width: 100px;
    }
    .social-icons-wrapper i {
        font-size: 16px;
    }
    .submit-button-wrapper input[type = "submit"], .sign-up-inner-wrapper input[type="submit"], .input-button button {
        height: 40px;
    }
    .img-description a h2 {
        font-size: 25px;
    }
    .submit-button-wrapper input {
        line-height: 1px;
    }
    .cart-qty-price {
        padding-right: 0;
    }
    .product-qnty-prc-wrapper > div:nth-child(2) {
        padding-left: 35px;
    }
    #logo-line {
        height: 140px!important;
    }
    .product-qnty-prc-wrapper > div:nth-child(3) {
        width: 100%;
        float: left;
    }
    .single-product-info-wrapper .cart-remove {
        text-align: center;
    }
    .product-qnty-prc-wrapper {
        position: relative;
    }
    .product-qnty-prc-wrapper > div:nth-child(2) {
        width: 54%;
    }
    .product-qnty-prc-wrapper > div:nth-child(3) {
        width: 100%;
        float: left;
        padding-left: 35px;
    }
    .checkout-quantity {
        padding-left: 17px;
    }
    .checkout-price {
        padding-left: 31px;
    }
    .delete-product-cart {
        margin-left: 149px;
        margin-top: -50px;
    }
    .delete-product-cart.delete-mobile {
        margin-left: 136px;
        margin-top: -50px;
    }
}/* //max-width: 380px */
@media all and (max-width: 365px) {
    .product-added-heading-wrapper {
        padding: 15px 0;
    }
    .product-added-heading-wrapper h2 {
        font-size: 26px;
    }
    .single-product-info-wrapper {
        height: 51px;
    }
    .delete-product-cart {
        margin-left: 139px;
        margin-top: -42px;
    }
    .subtotal-section-wrapper::after {
        width: 160px;
    }
    .delete-product-cart.delete-mobile {
        margin-left: 129px;
        margin-top: -40px;
    }
}/* //max-width: 365px */

/* //max-width: 330px */
@media all and (max-width: 330px) {
    .img-description h2 {
        font-size: 23px;
    }
    .img-description a h2 {
        font-size: 23px;
    }
    .social-icons-wrapper {
        padding: 14px 0 14px 0;
    }
    .product-qnty-prc-wrapper > div:nth-child(3) {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 21px;
        right: 44%;
    }
    .social-icons-wrapper i {
        margin-bottom: 13px;
    }
    .menu-button-wrapper {
        top: 1.6%;
        right: 4.3%;
    }
    .product-page-social-icons-wrapper span {
        padding: 10px 7px 0 7px;
    }
    .checkout-quantity {
        padding-left: 0px;
        margin-left: -7px;
    }
    .product-qnty-prc-wrapper > div:nth-child(1) {
        width: 36%;
        padding-left: 27px;
    }
    .checkout-price {
        padding-left: 15px;
    }
    .product-qnty-prc-wrapper > div:nth-child(2) {
        width: 64%;
    }
    .single-product-info-wrapper .cart-remove {
        text-align: right;
    }
    #map {
        height: 175px;
    }
    .single-product-info-wrapper {
        height: 47px;
    }
    .delete-product-cart {
        margin-left: 179px;
        margin-top: -23px;
    }
    .subtotal-section-wrapper::after {
        width: 150px;
    }
    .delete-product-cart.delete-mobile {
        margin-left: 169px;
        margin-top: -23px;
    }
/* //max-width: 330px */
}
